
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p{
  color: #8f8f8f
}

body {
font-family: 'Montserrat', sans-serif;
text-align: center;
}



/*...................Headings.................*/
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}


/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}


/*...................Navifation Bars.................*/
.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat"
}


.navbar-brand{
  font-family:'Ubuntu';
  font-size: 2.5rem;
  font-weight: 700;

}


/*...................Download Buttons.................*/
.Download-Button{
  margin: 5% 3% 5% 0;
}


/* .............................................................title section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/*...................Titel Image.................*/
.titel-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/*........................................................... feature section */

#features{
  padding: 10% 0 12%;
  position: relative;
  z-index: -1;
}

.feature-title{
  font-size: 1.5rem;
}

/* Fontawesome Icons */
.SAH{

  padding:70px 50px 25px;

}


.Rimaya{
  padding:70px 50px 25px;
}

.Heart{
  padding:70px 50px 25px;
}






/* .......................................................testimonial section */
#testimonials{
  background-color: #ef8172;

}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{

    background-color: #ef8172;
    padding-bottom: 3%;

}


.test-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* ...........................................................pricing section */
#pricing{
  padding: 100px;
}
.pricing-colume{
  padding: 3% 2%;

}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}









/*...................Classes.................*/
.col-lg-4:hover{
  color: #ff4c68;

}



/* containers */
.container-fluid{
  padding: 7% 15%
}



/* media */
@media (max-width: 1028px) {
  .titel-image{
    position: static;
    transform: rotate(0);
    text-align: center;
  }

}


/* CTA */

.cta-text{
  font-size: 3rem;
  padding: 2% 0 4%;
}



/* footer */

.social-icons{
  padding: 2% 1.5% 3%;
}
